<template>
  <Button @click="login" v-if="!isSignedIn" variant="primary"> 登入 </Button>
  <div v-else>
    <div class="flex justify-between items-center mb-4">
      <span>歡迎回來，{{ userName }}</span>
      <Button @click="logout" variant="primary">登出</Button>
    </div>
    <hr class="mb-4" />
    <router-view />
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";
import store from "@/store";

export default {
  name: "Bento",
  components: {
    Button,
  },
  data: () => ({
    isSignedIn: null
  }),
  created() {
    // Listen to login status
    this.$gapi.listenUserSignIn((isSignedIn) => {
      this.isSignedIn = isSignedIn;
      if (isSignedIn) {
        this.$gapi.getGapiClient().then((gapi) => {
          // Save the result to be reuse in store
          store.commit("setSheetAPI", gapi.client.sheets.spreadsheets.values);      
        });
      }
    });
  },
  methods: {
    login() {
      this.$gapi.login();
    },
    logout() {
      this.$gapi.logout();
    },
  },
  computed: {
    userName() {
      const user = this.$gapi.getUserData();
      return user?.firstName;
    },
  },
};
</script>