<template>
  <b class="mb-4 text-lg">店家列表</b>
  <ShopList />
  <div class="flex mt-5 gap-2">
    <Button @click="writeSheet" variant="primary">寫入資料</Button>
    <Button @click="clearSheet" variant="primary">清除資料</Button>
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";
import ShopList from "@/components/organisms/ShopList.vue";
import store from "@/store";

// Sheet id and range
const sheetParams = {
  spreadsheetId: "1wrthuzHjyNri3y3pNj7MKBKVqD5UNo7ZG8eFWdpMtmU",
  range: "shop",
};

export default {
  name: "Shop",
  components: {
    Button,
    ShopList,
  },
  data: () => ({
    data: "",
  }),
  methods: {
    writeSheet() {
      const values = [["Item", "Cost", "Stocked", "Ship Date"]];
      store.state.sheetAPI.append({
        ...sheetParams,
        valueInputOption: "USER_ENTERED",
        resource: {
          values: values,
        },
      });
    },
    clearSheet() {
      store.state.sheetAPI.clear(sheetParams);
    },
  },
};
</script>