<template>
  <div
    v-if="data"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3"
  >
    <Card
      v-for="shop in data"
      :url="shop.url"
      :key="shop.id"
      :title="shop.name"
      class="
        cursor-pointer
        duration-150
        drop-shadow-md
        hover:scale-105 hover:shadow-primary-200
      "
    >
      <div class="flex flex-col text-gray-600 text-sm">
        <span>{{ shop.address }}</span>
        <span>{{ shop.tel }}</span>
      </div>
    </Card>
  </div>

  <!-- Skeleton -->
  <div
    v-else
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3"
  >
    <Card v-for="k in skeleton" :key="k" isLoading />
  </div>
</template>

<script>
import Card from "@/components/atoms/Card.vue";
import { emptyArr } from "@/util";
import store from "@/store";

// Sheet id and range
const sheetParams = {
  spreadsheetId: "1wrthuzHjyNri3y3pNj7MKBKVqD5UNo7ZG8eFWdpMtmU",
  range: "shop",
};

export default {
  name: "ShopList",
  components: {
    Card,
  },
  data: () => ({
    data: null,
    skeleton: emptyArr(5),
  }),
  mounted() {
    this.getShopList();
  },
  methods: {
    // Get shops data
    getShopList() {
      // Wait for GAPI instance
      if (store.state.sheetAPI) {
        store.state.sheetAPI.get(sheetParams).then((response) => {
          const result = response.result;
          this.data = result.values.map((row) => ({
            id: row[0],
            name: row[1],
            address: row[2],
            tel: row[3],
            url: row[4],
          }));
        });
      } else {
        // Retry after 1s if sheetAPI = null
        setTimeout(this.getShopList, 1000);
      }
    },
  },
};
</script>