<template>
  <div class="container mx-auto my-4 w-11/12">
    <router-link
      v-for="(route, index) in routes"
      :key="route.name"
      :to="route.path"
      custom
      v-slot="{ href, navigate, isActive }"
    >
      <Link :actived="isActive" :href="href" @click="navigate">
        {{ route.text }}
      </Link>
      <span v-if="index !== routes.length - 1"> | </span>
    </router-link>
    <div class="my-4">
      <router-view />
    </div>
  </div>
  <ToastList :array="toast" />
</template>

<script>
import Link from "@/components/atoms/Link.vue";
import ToastList from "@/components/molecules/ToastList.vue";
import { routes } from "@/router";
import store from "@/store";

export default {
  name: "App",
  components: {
    Link,
    ToastList,
  },
  computed: {
    toast: () => store.state.toast,
  },

  data: () => ({
    routes: routes,
    // 自定義 PWA 安裝提示
    deferredPrompt: null,
  }),
  created() {
    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      this.deferredPrompt = e;
    });
    window.addEventListener("appinstalled", () => {
      this.deferredPrompt = null;
    });
  },
  watch: {
    deferredPrompt: function () {
      if (this.deferredPrompt)
        this.$store.dispatch("fireToast", {
          id: "pwaInstallationMsg",
          title: "安裝網頁APP到設備上",
          text: "可加速網頁開啟, 並提供離線操作",
          variant: "info",
          action: () => {
            this.deferredPrompt.prompt();
            this.$store.commit("dismissToast", "pwaInstallationMsg");
          },
        });
    },
  },
};
</script>